* {
    font-family: 'Zilla Slab', serif;
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    font-size: 1px;
}

.is-row {
    display: flex;
}

.is-column {
    flex-direction: column;
}

.is-between {
    justify-content: space-between;
}

.is-around {
    justify-content: space-around;
}

.is-align-center {
    align-items: center;
}

.is-center {
    justify-content: center;
}

.navigation {
    background-color: #000000;
    color: white;
    padding: 5rem;
    font-size: 14rem;
    font-weight: 600;
    justify-content: space-around;
}

.nav-container {
    width: 22%;    
}

.nav-container h1 {
    width: 18%;
}

.nav-container ul {
    width: 82%;
}

.nav-title {
    font-weight: 400;
    margin-right: 10px;
}

.button-registration {
    background-color: white;
    padding: 10rem;
    color: black;
    border-radius: 20rem;
    font-weight: 600;
}

.is-shadow {
    padding: 10rem;
    border-radius: 20rem;
}

.is-shadow:hover {
    padding: 10rem;
    border-radius: 20rem;
    background-color: #3a3a3a;
    transition-property: background-color;
    transition-duration: 0.3s;
}

.header {
    background-image: url("./assets/f.png");
    background-size: cover; 
    background-position: center;  
    padding: 50px;
}

.header-card {
    width: 28%;   
    background-color: white;
    color: #000000;     
    margin: 20px 0px 20px 300px
    
}

.header-list {
    font-size: 16px;    
}

.icon-header {
    font-size: 20rem;
    margin-bottom: 10px;
}

.header-list li {
    width: 60px;
    padding: 10px;
    text-align: center;
    font-weight: 500;
}

.header-sections {
    width: 100%;
    background-color: #fbfbfa;
    padding-top: 20px;
    border-bottom: 1px solid rgb(232, 232, 232);
}

.header-li {
    border-bottom: 3px solid black;
    padding: 100px;
}

.header-info {
    padding: 25rem;
    font-size: 16px;    
}

.header-subtitle {
    font-size: 54px;
}

.header-button {
    padding: 10px 0px;
    background-color: black;
    color: white;
    width: 250px;    
    font-size: 20rem;
    border-radius: 10px;
    font-weight: 500;
}

.header-info p {
    font-size: 18px;
    margin: 30px 0px;
}

.header-underline {
    width: 86%;
    border-bottom: 1px solid rgb(196, 195, 195);
    padding-bottom: 3px;
}
